.app {
     /* Add app styles here */
}
.export-button {
    display: inline;
    float: left;
    width: 100px;
}
.milestone-combo-box {
    display: inline;
    float: left;
    width: 160px;
}
.x-panel-body {
    height: auto !important;
}
.x-panel-default {
    height: auto !important;
}